<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Tambah Siswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Tambah Siswa
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">NIS</ion-label>
      <ion-input required [(ngModel)]="nis" placeholder="NIS Siswa" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input required [(ngModel)]="nama" placeholder="Nama Siswa" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Jenis Kelamin</ion-label>
      <ion-select placeholder="Jenis Kelamin Siswa" [(ngModel)]="jenis_kelamin" (ionChange)="optionFn()">
        <ion-select-option value="Pria">Pria</ion-select-option>
        <ion-select-option value="Perempuan">Perempuan</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Alamat</ion-label>
      <ion-input required [(ngModel)]="alamat" placeholder="Alamat" type="text"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="addSiswa()" color="primary" shape="full" expand="block">Tambah Siswa</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
